{% extends "home/base.html" %} {% block content %} {% load static %}
<style>
  .w3l-main-slider{
    height: 100vh !important
  }
  .w3l-main-slider .companies20-content{
    height: 100% !important;
  }
  .owl-one.owl-carousel.owl-theme{
    height: 100% !important;
  }
  .owl-one.owl-carousel.owl-theme .item{
    height: 100% !important;
  }
  .w3l-main-slider .banner-view:before {
    content: "";
    background: #00000010;
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .cwp4-text h3{
    color: #d19537" !important;
  }
  .owl-theme .owl-nav [class*=owl-]{
    background: var(--title-color) !important;
    opacity: 0.2 !important;
  }
  .owl-theme .owl-nav [class*=owl-]:hover{
    opacity: 0.8 !important;
  }
  .nav-item a{
    color: white;
  }
  .nav-item a:hover{
    color: #1e1c59;
  }
  .navbar-brand{
    margin-right: 0 !important;
  }
  .w3l-bootstrap-header .form-inline .search{
    padding: 4px;
    padding-left: 12px;
    padding-right: 32px;
    font-size: 14px;
  }
  .w3l-bootstrap-header .form-inline .search::placeholder{
    color: #ffffff80;
    font-weight: 500;
  }
  .w3l-bootstrap-header button.btn-search{
    font-size: 12px;
  }
  .w3l-bootstrap-header .navbar-light .navbar-nav .nav-link{
    border-bottom: 2px solid transparent;
  }
  .w3l-bootstrap-header .navbar-light .navbar-nav .nav-link:hover, .w3l-bootstrap-header .navbar-light .navbar-nav .nav-link:focus{
    color: #1e1c59 !important;
    border-color: #1e1c59;
  }
  @media screen and (min-width: 1200px){
    .navbar.navbar-expand-lg .container{
      max-width: 1200px !important;
    }
  }
  @media screen and (min-width: 768px) {
    .navbar{
      border-radius: 0 !important;
      border: none !important;
    }
    .navbar-nav>li>a{
      padding-bottom: 4px !important;
      margin-bottom: 8px !important;
    }
    .navbar .container{
      width: 100%;
      justify-content: space-between;
    }
  }
    @media screen and (max-width: 768px) {
    .w3l-main-slider {
      height: auto !important;
    }
    .w3l-features-1 .feature-gd{
      background-color: transparent !important;
      padding: 0 !important;
    }
    .w3l-main-slider .banner-view{
      /*height: auto !important;*/
      min-height: unset !important;
      height: 30vh;
    }
    .w3l-main-slider .companies20-content{
    height: auto !important;
    }
    .owl-one.owl-carousel.owl-theme{
      height: auto !important;
    }
    .owl-one.owl-carousel.owl-theme .item{
      height: auto !important;
    }
    .w3l-main-slider .banner-view:before {
      height: auto !important;
      min-height: auto !important;
    }
  }
</style>

<section class="w3l-main-slider" id="home" style="padding-top: 10vh">
  <!-- main-slider -->
  <div class="companies20-content">
    <div class="owl-one owl-carousel owl-theme">
      <div class="item">
        <li>
          <div
            class="slider-info banner-view banner-top1 bg bg2"
            style="
              background: url(media/image/bluescan.PNG) no-repeat center !important;
              background-size: contain !important;
              object-fit: cover !important;
            "
            data-selector=".bg.bg2"
          ></div>
        </li>
      </div>
      <div class="item">
        <li>
          <div
            class="slider-info banner-view banner-top1 bg bg2"
            style="
              background: url(media/image/bluescan.PNG) no-repeat center !important;
              background-size: contain !important;
              object-fit: cover !important;
            "
            data-selector=".bg.bg2"
          ></div>
        </li>
      </div>
    </div>
  </div>

  <script src="{% static 'js/owl.carousel.js' %}"></script>
  <!-- script for -->
  <script>
    $(document).ready(function () {
      $(".owl-one").owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: false,
        autoplayTimeout: 3000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false,
          },
          480: {
            items: 1,
            nav: false,
          },
          667: {
            items: 1,
            nav: true,
          },
          1000: {
            items: 1,
            nav: true,
          },
        },
      });
    });
  </script>
  <!-- //script -->
  <!-- /main-slider -->
</section>

<!-- content-with-photo4 block -->
<section class="w3l-content-with-photo-4" id="about">
  <div id="content-with-photo4-block" class="pt-5">
    <div class="container py-md-3">
      <div class="cwp4-two row">
        <div class="cwp4-text col-lg-6">
          <h3>BlueScan Panda</h3>
          <h5>Intraoral Scanner</h5>
          <p>
            It is ideal for capturing clear digital impressions of patients'
            teeth and gums, using efficient scanning solutions, and get
            immediate return on investment.<br />
            It can be easily integrated with the workflow of your dental office
            and promote better collaboration with laboratories and other
            partners.
          </p>

          <ul class="cont-4">
            <!--<li><span class="fa fa-check"></span>Materiality & Interpretation</li>
                        <li><span class="fa fa-check"></span>Product Management </li>
                        <li><span class="fa fa-check"></span>Years of Experience</li>
                        <li><span class="fa fa-check"></span>Sound Design; Social Media and SEO </li>-->
          </ul>
        </div>
        <div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
          <img src="media/image/2.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<div>
  <br />
  <br />
  <section class="w3l-bottom-grids-6 py-5" id="miceservices">
    <div
      class="container py-lg-5 py-md-4 py-sm-4 py-xs-4"
      style="background: #d19537; padding: 20px 15px"
    >
      <!-- <h6 class="title-small text-center" style="color:#1e1c59;">Our Services</h6> -->
      <h3 class="title-big mb-md-5 mb-4 text-center" style="color: #ffffff">
        Features
      </h3>
      <div class="grids-area-hny main-cont-wthree-fea row">
        <div class="col-lg-4 col-md-4 grids-feature">
          <div class="area-box">
            <!-- <span class="fa fa-retweet mt-0"></span> -->
            <h5>
              <a href="#feature" class="title-head" style="color: #ffffff"
                >- Al Technology, much smarter, Improve a lot of scanning
                experience
              </a>
            </h5>
            <br />
          </div>
        </div>

        <div class="col-lg-4 col-md-4 grids-feature">
          <div class="area-box">
            <!-- <span class="fa fa-retweet mt-0"></span> -->
            <h5>
              <a href="#feature" class="title-head" style="color: #ffffff"
                >- 3 Different tips Can Fulfill Various Applications
              </a>
            </h5>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 grids-feature">
          <div class="area-box">
            <!-- <span class="fa fa-retweet mt-0"></span> -->
            <h5>
              <a href="#feature" class="title-head" style="color: #ffffff"
                >- Clear margin line, full HD color, high accuracy
              </a>
            </h5>
            <br />
          </div>
        </div>

        <div class="col-lg-4 col-md-4 grids-feature">
          <div class="area-box">
            <!-- <span class="fa fa-retweet mt-0"></span> -->
            <h5>
              <a href="#feature" class="title-head" style="color: #ffffff"
                >- Fast scanning speed, easy to learn and use
              </a>
            </h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 grids-feature">
          <div class="area-box">
            <!-- <span class="fa fa-retweet mt-0"></span> -->
            <h5>
              <a href="#feature" class="title-head" style="color: #ffffff"
                >- Much smaller, very easy to operate
              </a>
            </h5>
            <br />
          </div>
        </div>

        <div class="col-lg-4 col-md-4 grids-feature">
          <div class="area-box">
            <!-- <span class="fa fa-retweet mt-0"></span> -->
            <h5>
              <a href="#feature" class="title-head" style="color: #ffffff"
                >- Power-free and true color scan
              </a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="w3l-content-with-photo-4" id="about">
    <div id="content-with-photo4-block" class="pt-5">
      <div class="container py-md-3">
        <h3>Specifications</h3>
        <br />
        <img
          src="media/image/diagram.png"
          style="
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
          "
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </section>
  <br />
  <br />
  <section class="w3l-content-with-photo-4" id="about">
    <div id="content-with-photo4-block" class="pt-5">
      <div class="container py-md-3">
        <h3>Videos</h3>
        <br />
        <div style="background: #d19537">
          <div class="card-body">
            <iframe style="
            display: block;
            margin-left: auto;
            margin-right: auto;
            
            height: 50%;
          "
           class="img-fluid" width="420" height="315"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
         
        </div>
      </div>
    </div>
  </section>
 

 
</div>
 
  <br />
  <br />
  <section class="w3l-content-with-photo-4" id="about">
    <div id="content-with-photo4-block" class="pt-5">
      <div class="container py-md-3">
        <h3>Key Features</h3>
        <br />
        <div style="background: #d19537">
          <img
            src="static/images/bluescan1.PNG"
            style="
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;
            "
            class="video-scan"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <div>
    <div class="container mt-4">
      <br />
      <div class="row">
        <div class="col-auto mb-3">
          <div class="card" style="width: 15rem">
            <img
              class="card-img-top"
              src="static/images/bs1 (1).png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h4 class="card-title">Efficient Treatment Experience</h4>
              <p class="card-text">
                Reproduce the real state of teeth Accurate anatomical features
                3D HD color, visualize communications Easy treatment experience
              </p>
              <br />
              <br />
              <br />
              <br />
            </div>
          </div>
        </div>
        <div class="col-auto mb-3">
          <div class="card" style="width: 15rem">
            <img
              class="card-img-top"
              src="static/images/bs1 (2).png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h4 class="card-title">Accurate Shoulder Margin</h4>
              <p class="card-text">
                Clear and easy to identify margin lines Simplify CAD design
                Real-time and accurate display Improve the success rate of a
                visit Convenient Preparation Check Shade detect, for better
                preparation Clear occlusion registration check
              </p>
            </div>
          </div>
        </div>
        <div class="col-auto mb-3">
          <div class="card" style="width: 15rem">
            <img
              class="card-img-top"
              src="static/images/bs1 (3).png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h4 class="card-title">Convenient Preparation Check</h4>
              <p class="card-text">
                Shade detect, for better preparation Clear occlusion
                registration check Convenient tools for clinics and labs Adjust
                and correct production in time
              </p>
              <br />

              <br />
              <br />
            </div>
          </div>
        </div>
        <div class="col-auto mb-3">
          <div class="card" style="width: 15rem">
            <img
              class="card-img-top"
              src="static/images/bs1 (4).png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h4 class="card-title">Revolutionary Improvement</h4>
              <p class="card-text">
                Scanning speed improved by 50% Hand piece weight decreased by
                50% Data accuracy improved by 30% Height of tips decreased by
                14%
              </p>
              <br />
              <br />
              <br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4" style="background: #d19537">
    <br />
    <h3 style="color: white">Applications</h3>
    <br />
    <div class="row">
      <div class="col-auto mb-4">
        <div class="card border-0" style="width: 20rem">
          <div class="card-body">
            <h5 class="card-title">Restoration</h5>
            <img src="static/images/ap1.PNG" class="card-img-top" alt="..." />

            <p class="card-text">
              Accurate and clear shoulder margin brings the efficient design, HD
              color images help the dentists to distinguish the gingival and
              teeth effectively. One visit, Immediate restoration!
            </p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
      <div class="col-auto mb-4">
        <div class="card border-0" style="width: 20rem">
          <div class="card-body">
            <h5 class="card-title">Implant</h5>
            <img src="static/images/ap2.PNG" class="card-img-top" alt="..." />

            <p class="card-text">
              Fast scan with big field of view, easy to capture 3mm data of
              cuff, and accurate scan of metal path pin, no need to do repeat
              impression and improve patient's treatment experience.
            </p>
          </div>
        </div>
      </div>
      <div class="col-auto mb-4">
        <div class="card border-0" style="width: 20rem">
          <div class="card-body">
            <h5 class="card-title">Orthodontics</h5>
            <img src="static/images/ap3.PNG" class="card-img-top" alt="..." />

            <p class="card-text">
              High accuracy of the full dentition, restore the real state of
              full arch. Get Fast orthodontic treatment, save time for more
              patients.
            </p>
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <!-- content-with-photo4 block -->

  {% endblock content %}
</div>
