{% extends "home/base.html" %}


{% block content %}
<section class="w3l-about-breadcrum">
  <div class="breadcrum-bg">
    <div class="container py-5">
      <p><a href="index.html">Home</a> &nbsp; / &nbsp;Category</p>
      <h2 class="my-3">Our Motive</h2>
     <p>>A company involved in service
        <br>
         We're thriving and building better products</p>
    </div>
  </div>
</section>



<!--/team-sec-->
	<section class="w3l-team-main">
		<div class="team py-5">
			<div class="container py-lg-5">
				<div class="heading text-center mx-auto">
					<h3 class="head">Our Products</h3>
					<!--<p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					  Nulla mollis dapibus nunc, ut rhoncus
					  turpis sodales quis. Integer sit amet mattis quam.</p>-->
					  
					</div>
					<div class="row team-row pt-3 mt-5">
							<div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
									<div class="team-info">
										<div class="column position-relative">
											<a href="#url"><img src="static/images/BlueFlex/Untitled (3780 x 3780 px) (1).png" alt="" class="img-fluid team-image" /></a>
										</div>
										<div class="column-btm">
											<h3 class="name-pos"><a href="#url">NJ-ENDOMOTOR</a></h3>
											<p>BlueFlex</p>
											<div class="social">
												<!--<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
												<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>-->
											</div>
									</div>
								</div>
							</div>
							<!-- end team member -->
				
							<div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
			
									<div class="team-info">
											<div class="column position-relative">
												<a href="#url"><img src="static/images/BlueFlex/_H2A7129.JPG" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column-btm">
												<h3 class="name-pos"><a href="#url">BF-FILL</a></h3>
												<p>BlueFlex</p>
												<div class="social">
													<!--<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>-->
												</div>
										</div>
									</div>
							</div>
							<!-- end team member -->
				
							<div class="col-lg-3 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">
									<div class="team-info">
											<div class="column position-relative">
												<a href="#url"><img src="static/images/BlueFlex/_H2A7127.JPG" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column-btm">
												<h3 class="name-pos"><a href="#url">BF-Brush</a></h3>
												<p>BlueFlex</p>
												<div class="social">
													<!--<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>-->
												</div>
										</div>
									</div>
								
							</div>
							<!-- end team member -->
							<!-- end team member -->
				
							<div class="col-lg-3 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">
			
									<div class="team-info">
											<div class="column position-relative">
												<a href="#url"><img src="static/images/BlueFlex/_H2A7116.JPG" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column-btm">
												<h3 class="name-pos"><a href="#url">K-Files</a></h3>
												<p>BlueFlex</p>
												<div class="social">
													<!--<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>-->
												</div>
										</div>
									</div>
							</div>
							<!-- end team member -->
							<div class="col-lg-3 col-sm-6 team-wrap mt-4 pt-2">
									<div class="team-info">
										<div class="column position-relative">
											<a href="#url"><img src="static/images/BlueFlex/_H2A7142.JPG" alt="" class="img-fluid team-image" /></a>
										</div>
										<div class="column-btm">
											<h3 class="name-pos"><a href="#url">ENDO-KIT</a></h3>
											<p>BlueFlex</p>
											<div class="social">
												<!--<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
												<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>-->
											</div>
									</div>
								</div>
							</div>
							<!-- end team member -->
				
							<div class="col-lg-3 col-sm-6 team-wrap mt-4 pt-2">
			
									<div class="team-info">
											<div class="column position-relative">
												<a href="#url"><img src="static/images/BlueFlex/_H2A7124.JPG" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column-btm">
												<h3 class="name-pos"><a href="#url">S-One</a></h3>
												<p>BlueFlex</p>
												<div class="social">
													<!--<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>-->
												</div>
										</div>
									</div>
							</div>
							<!-- end team member -->
				
							<div class="col-lg-3 col-sm-6 team-wrap mt-4 pt-2">
									<div class="team-info">
											<div class="column position-relative">
												<a href="#url"><img src="static/images/BlueFlex/_H2A7126.JPG" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column-btm">
												<h3 class="name-pos"><a href="#url">ACER</a></h3>
												<p>BlueFlex</p>
												<div class="social">
													<!--<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>-->
												</div>
										</div>
									</div>
								
							</div>
							<!-- end team member -->
							<!-- end team member -->
				
							<div class="col-lg-3 col-sm-6 team-wrap mt-4 pt-2">
			
									<div class="team-info">
											<div class="column position-relative">
												<a href="#url"><img src="static/images/BlueFlex/_H2A7104.JPG" alt="" class="img-fluid team-image" /></a>
											</div>
											<div class="column-btm">
												<h3 class="name-pos"><a href="#url">PATHFILE</a></h3>
												<p>BlueFlex</p>
												<div class="social">
													<!--<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
													<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>-->
												</div>
										</div>
									</div>
							</div>
							<!-- end team member -->
				</div>
			</div>
	</section>
	<!--//team-sec-->
 
  {% endblock content %}
 