<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% extends "home/base.html" %}
{% block content %}

{% load static %}
<section class="w3l-service-breadcrum">
  <div class="breadcrum-bg">
    <div class="container py-5">
      <p><a href="index.html">Home</a> &nbsp; / &nbsp; Services</p>
      <h2 class="my-3">Our Services</h2>
      <p>We have a dedicated team which roam around the world in search of dental products those have a leading edge over others. Our core objective is to provide state of the art dental products at reasonable price to Indian dentist. Thus contributing our bit towards the upliftment of Dentistry in India.</p>
    </div>
  </div>
</section>
 <!--  Work gallery section -->
 <div class="w3l-gallery2" id="gallery">
  <div class="insta-picks py-5">
    <div class="container py-md-3">
     
      <div class="row no-gutters masonry">
        <div class="col-md-4 col-sm-6 brick">
          <a href="{% static 'images/BlueFlex/Untitled (3780 x 3780 px) (1).png' %}" class="js-img-viwer d-block" data-caption="There are many variations of popular graphic design" data-id="lion">
            <img src="{% static 'images/BlueFlex/Untitled (3780 x 3780 px) (1).png' %}" class="img-fluid insta-pic" alt="insta-pic" />
            <div class="content-overlay"></div>
            <div class="content-details fadeIn-top">
              <h4>NJ-ENDOMOTOR</h4>
             
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 brick">
          <a href="{% static 'images/BlueFlex/_H2A7126.JPG' %}" class="js-img-viwer d-block" data-caption="There are many variations of popular graphic design"
            data-id="camel">
            <img src="{% static 'images/BlueFlex/_H2A7126.JPG' %}" class="img-fluid insta-pic" alt="insta-pic" />
            <div class="content-overlay"></div>
            <div class="content-details fadeIn-top">
              <h4>ACER</h4>
             
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 brick">
          <a href="{% static 'images/BlueFlex/_H2A7127.JPG' %}" class="js-img-viwer d-block" data-caption="There are many variations of popular graphic design" data-id="hippopotamus">
            <img src="{% static 'images/BlueFlex/_H2A7127.JPG' %}" class="img-fluid insta-pic" alt="insta-pic" />
            <div class="content-overlay"></div>
            <div class="content-details fadeIn-top">
              <h4>BF-Brush</h4>
             
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 brick">
          <a href="{% static 'images/BlueFlex/_H2A7116.JPG' %}" class="js-img-viwer d-block"
            data-caption="There are many variations of popular graphic design" data-id="koala">
            <img src="{% static 'images/BlueFlex/_H2A7116.JPG' %}" class="img-fluid insta-pic" alt="insta-pic" />
            <div class="content-overlay"></div>
            <div class="content-details fadeIn-top">
              <h4>K-Files</h4>
             
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 brick">
          <a href="{% static 'images/BlueFlex/_H2A7124.JPG' %}" class="js-img-viwer d-block" data-caption="There are many variations of popular graphic design" data-id="bear">
            <img src="{% static 'images/BlueFlex/_H2A7124.JPG' %}" class="img-fluid insta-pic" alt="insta-pic" />
            <div class="content-overlay"></div>
            <div class="content-details fadeIn-top">
              <h4>S-One</h4>
             
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 brick">
          <a href="{% static 'images/BlueFlex/_H2A7104.JPG' %}" class="js-img-viwer d-block" data-caption="There are many variations of popular graphic design"
            data-id="rhinoceros">
            <img src="{% static 'images/BlueFlex/_H2A7104.JPG' %}" class="img-fluid insta-pic" alt="insta-pic" />
            <div class="content-overlay"></div>
            <div class="content-details fadeIn-top">
              <h4>PATHFILES</h4>
             
            </div>
          </a>
        </div>
        
      </div>
     
    </div>
  </div>
</div>
 <!--  //Work gallery section -->
<section class="w3l-feature-2" id="services">
		<div class="grid top-bottom py-5">
			<div class="container py-md-5">
				<div class="heading text-center mx-auto">
					<h3 class="head text-white">Our Company Services</h3>
					<!--<p class="my-3 head text-white"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					  Nulla mollis dapibus nunc, ut rhoncus
					  turpis sodales quis. Integer sit amet mattis quam.</p>-->
					  
				  </div>
				<div class="middle-section row mt-5 pt-3">
					<div class="three-grids-columns col-lg-3 col-sm-6 text-center">
						<div class="icon"> <span class="fa fa-flask" aria-hidden="true"></span></div>
						<h4>Energy & Utilities</h4>
						<!--<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>-->
					</div>
					<div class="three-grids-columns col-lg-3 col-sm-6 mt-sm-0 mt-5 text-center">
						<div class="icon"> <span class="fa fa-recycle" aria-hidden="true"></span></div>
						<h4>Medical Services</h4>
						<!--<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>-->
					</div>
					<div class="three-grids-columns col-lg-3 col-sm-6 mt-lg-0 mt-5 text-center">
						<div class="icon"> <span class="fa fa-random" aria-hidden="true"></span></div>
						<h4> Internet to Things</h4>
						<!--<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>-->
					</div>
					<div class="three-grids-columns col-lg-3 col-sm-6 mt-lg-0 mt-5 text-center">
						<div class="icon"> <span class="fa fa-hourglass-start" aria-hidden="true"></span></div>
						<h4>Product Development</h4>
						<!--<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>-->
					</div>
					<div class="three-grids-columns col-lg-3 col-sm-6 text-center mt-5">
						<div class="icon"> <span class="fa fa-futbol-o" aria-hidden="true"></span></div>
						<h4>Safe and Better</h4>
						<!--<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>-->
					</div>
					<div class="three-grids-columns col-lg-3 col-sm-6 text-center mt-5">
						<div class="icon"> <span class="fa fa-cube" aria-hidden="true"></span></div>
						<h4>Advance equipments</h4>
						<!--<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>-->
					</div>
					<div class="three-grids-columns col-lg-3 col-sm-6 text-center mt-5">
						<div class="icon"> <span class="fa fa-snowflake-o" aria-hidden="true"></span></div>
						<h4>Medical Devices</h4>
						<!--<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>-->
					</div>
					<div class="three-grids-columns col-lg-3 col-sm-6 text-center mt-5">
						<div class="icon"> <span class="fa fa-ravelry" aria-hidden="true"></span></div>
						<h4>Industrial Manufacturing</h4>
						<!--<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>-->
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- services page block 3 -->
<section class="w3l-mobile-content-6 bg-white">
    <div class="mobile-info py-5">
        <!-- /mobile-info-->
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">Building
                    Better Products</h3>
                <!--<p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                  Nulla mollis dapibus nunc, ut rhoncus
                  turpis sodales quis. Integer sit amet mattis quam.</p>-->
                  
                </div>
         
            <div class="row mobile-info-inn mt-5 pt-3">
                <div class="col-lg-6 image-left">
                    <img src="{% static 'images/BlueFlex/Untitled (3780 x 3780 px) (1).png' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 mobile-right mt-lg-0 mt-5">
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right mt-2">
                                <span class="fa fa-snowflake-o"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Years of Research</a></h6>
                            <!--<p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                adipisicing elit.</p>-->
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right mt-2">
                                <span class="fa fa-flask"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Chemical Research</a></h6>
                            <!--<p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                adipisicing elit.</p>-->
                        </div>
                    </div>
                    <div class="row mobile-right-grids">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon text-right mt-2">
                                <span class="fa fa-database"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Medical Engineering</a></h6>
                            <!--<p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                adipisicing elit.</p>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //mobile-info-->
    </div>
</section>
<!-- services page block 3 -->

 
{% endblock content %}
 